 :root {
  --primary: #fff;
}

 .mybtn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;

}

#bo .mybtn {
  padding: 8px 20px;
  border-radius: 2px;
  font-size: 2rem;
}

 #bo .mybtn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

 .mybtn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

 .mybtn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

 .mybtn--large {
  padding: 12px 26px;
  font-size: 20px;
}

 .mybtn--large:hover,
 .mybtn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}
