.UserDetails2{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1)
    
  }
  
  #Destination #Dest{
    width:100%;
  }
  
  #bording_state #state{
    width:100%;
  }

  #Airlines #Airlines{
    width:100%;
  }
  
  
  #Flightclass #FlightClass{
    width:100%;
  }
  #d4  button{
      width:25%;
      height:50px;
      border-color: transparent;
    }
  
    #d0 button:hover {
      background-color:rgb(54, 48, 48);
      cursor: pointer;
      color:white;
      border-radius: 27px;
      font-size: medium;
    }
    #d0  button{
      border-radius: 27px;
      background-color: transparent;
      border-color: transparent;
  
    }
    #d4  button:hover {
      background-color:lightskyblue;
      cursor: pointer;
      border-color: transparent;
    }
  
    #d0 
    {
      text-align: right;
      /*margin-right: 10px;*/
      padding: 10px;
    }
  
    #TravelDetail{
      background-color:rgba(20, 43, 195, 0.545);
    }
    
    #drop{
        margin-left:50%;
        margin-top: 20px;
        border-radius:30px;
        
    }
  
    #drop  option{
      text-align: center;
  
    }
  
  
  
    select{
      height:50px;
      width:200px;
    }
  
  
   
   
  
  
  
    