/*.container{
    background-image: url("../../public/images/goa2.jpg");
    
}*/

.UserDetails1{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1)
  
}

#d0 
  {
    text-align: right;
    /*margin-right: 10px;*/
    padding: 10px;
    
  }
  
   #d4 button{
    width:25%;
    height:50px;
    border-color: transparent;
  }
  
  #d0 button:hover {
    background-color:rgb(54, 48, 48);
    cursor: pointer;
    color:white;
    border-radius: 27px;
    font-size: medium;
  }
  #d0 button{
    border-radius: 27px;
    background-color: transparent;
    border-color: transparent;
  }
  #d4 button:hover {
    background-color:lightskyblue;
    cursor: pointer;
    border-color: transparent;
  }

  #PersonalDetail{
    background-color:rgba(20, 43, 195, 0.545);
  }

  #d1{
    text-align: center;
    justify-content: center;
   padding-right: 73%;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: white;
    padding-left: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    background-color: whitesmoke;
    
  }
  #image{
    height:100px;
    width: 100px;
    margin-left: 400px;
    
    float:left;

  }

 
   

